body {
	font-family: 'Oswald', sans-serif;
	background-color: rgb(233, 250, 227);
}

h1 {
	font-family: 'Lora', serif;
}

/* #D5C7BC, #DEE8D5 */
.info {
	background-color: #DEE8D5;
}

#resumeExamples, #applicationsFindJobs {
	background-color: #D5C7BC;
}

.card {
	display: none;
}

#kindOfJob {
	display: block;
}